<table class="table engine-info-tb" width="100%">
    <tbody>
        <tr> 
            <td>Name</td>
            <td class="test-desc-val">{{engine.name}} </td>
        </tr>
        <tr>
            <td class="popup-tb-title">Version</td>
            <td class="popup-tb-val">{{engine.version}}</td>
        </tr>        
        <tr>
            <td class="popup-tb-title">Id</td>
            <td class="popup-tb-val">{{engine.id}}</td>
        </tr>
        <tr> 
            <td class="popup-tb-title">Language</td>
            <td class="popup-tb-val">{{engine.language}}
            </td>
        </tr>
        <tr> 
            <td class="popup-tb-title">Programming Language</td>
            <td class="popup-tb-val">{{engine.extensions.programmingLanguage}}
            </td>
        </tr>
        <tr> 
            <td class="popup-tb-title">Release</td>
            <td class="popup-tb-val">{{engine.extensions.releaseDate}}
            </td>
        </tr>

        <tr>
            <td class="popup-tb-title">Configuration</td>
            <td  class="popup-tb-val"> {{engine.configuration}}
            </td>
        </tr>
                
        <tr>
            <td class="popup-tb-title">Url</td>
            <td  class="popup-tb-val"> {{engine.extensions.url}}
            </td>
        </tr>
        <tr>
            <td class="popup-tb-title">License</td>
            <td  class="popup-tb-val"> {{engine.extensions.license}} <br> {{engine.licenseURL}}
            </td>
        </tr>
    </tbody>
</table>

