<h3 class="feat-desc-title">Feature</h3>

<table class="table feature-desc" width="100%">
    <tbody>
        <tr> 
            <td class="popup-tb-title">Feature Id</td>
            <td class="popup-tb-val">{{feature.id}} </td>
        </tr>
        <tr> 
            <td class="popup-tb-title">Group</td>
            <td class="popup-tb-val">{{feature.groupName}} </td>
        </tr>
        <tr>
            <td class="popup-tb-title">Description</td>
            <td class="popup-tb-val">{{feature.description}}</td>
        </tr>
    </tbody>
</table>

<h3 class="feat-desc-title">Test (Engine Independent)</h3>

 <table class="table feature-desc" width="100%">
    <tbody>       
        <tr>
            <td  class="popup-tb-title">Description</td>
            <td colspan=2 class="popup-tb-val">{{feature.description}}</td>
        </tr>

            <td class="popup-tb-title"> LoadFunction</td>
            <td class="popup-tb-title">Description</td>
            <td class="popup-tb-val">{{loadFunction.0.description}}</td>

        <tr>
            <td></td>
            <td class="popup-tb-title">Thinktime</td>
            <td class="popup-tb-val">{{loadFunction.0.thinkTime}}</td>

        </tr>
        <tr><td></td>
            <td class="popup-tb-title">Ramp-Up Time</td>
            <td class="popup-tb-val">{{loadFunction.0.rampUpTime}}</td>
        </tr>
        <tr><td></td>
            <td class="popup-tb-title">Steady-State Time</td>
            <td class="popup-tb-val">{{loadFunction.0.steadyStateTime}}</td>
        </tr>
        <tr><td></td>
            <td class="popup-tb-title">Ramp-Down Time</td>
            <td class="popup-tb-val">{{loadFunction.0.rampDownTime}}</td>
        </tr>

        <tr><td></td>
            <td class="popup-tb-title">Connection Timeout</td>
            <td class="popup-tb-val">{{loadFunction.0.connectionTimeout}}</td>
        </tr>
        <tr><td></td>
            <td class="popup-tb-title">Start Users</td>
            <td class="popup-tb-val">{{loadFunction.0.startUsers}}</td>
        </tr>
        <tr><td></td>
            <td class="popup-tb-title">Steady State Users</td>
            <td class="popup-tb-val">{{loadFunction.0.steadyStateUsers}}</td>
        </tr>
        <tr><td></td>
            <td class="popup-tb-title">End Users</td>
            <td class="popup-tb-val">{{loadFunction.0.endUsers}}</td>
        </tr>

        <tr> 
            <td class="popup-tb-title">Engine Independent Files</td>
            <td colspan=2 class="popup-tb-val">
                <ul class="list-files">
                {{#each engineIndependentFiles}}
                    <li><span class="entypo-doc-text"></span><a href="{{url}}">{{title}}</a></li>
                {{/each}}
                </ul>
            </td>
        </tr>
        <tr>
            <td class="popup-tb-title">Process Image</td>
            <td colspan=2 class="popup-tb-val">
                <img alt="{{img.alt}}" src="{{img.src}}" >
            </td>
        </tr>
    </tbody>
</table>
