<h3 class="performance-add-data-title">Additional Data</h3>
<table class="table performance-add-data-tb" width="100%">
    <tbody>
        {{#each test.treeOfKey}}
            <tr>
                <td class="popup-tb-title">{{name}}</td>
                <td class="popup-tb-val">{{value}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>

<h3 class="performance-add-data-title">Dependent Files</h3>

{{#if test.models.length}}
<ul class="list-files">
{{#each test.models}}
    <li><span class="entypo-doc-text"></span><a target="_blank" href="data/{{this.url}}">{{this.title}}</a></li>
{{/each}}
</ul>
{{else}}
    <p class="empty-message">No files </p>
{{/if}}
