<h3 class="feat-desc-title">Test (Engine Independent)</h3>

 <table class="table feature-desc" width="100%">
    <tbody>       
        <tr>
            <td class="popup-tb-title">Language</td>
            <td colspan="2" class="popup-tb-val">{{test.language}}</td>
        </tr>

        <tr>
            <td class="popup-tb-title">Description</td>
            <td colspan="2" class="popup-tb-val">{{test.description}}</td>
        </tr>

        {{#each test.loadFunction}}
        <tr>
            <td  class="popup-tb-title">LoadFunction.{{@key}}</td>
            <td colspan=2 class="popup-tb-val">{{this}}</td>
        </tr>
        {{/each}}
        <tr> 
            <td class="popup-tb-title">Engine Independent Files</td>
            <td colspan="2" class="popup-tb-val">
                <ul class="list-files">
                {{#each engineIndependentFiles}}
                    <li><span class="entypo-doc-text"></span><a href="data/{{url}}">{{title}}</a></li>
                {{/each}}
                </ul>
            </td>
        </tr>
        {{#if img.src}}
        <tr>
            <td class="popup-tb-title">Process Image</td>
            <td colspan="2" class="popup-tb-val">
               <a target="_blank" href="data/{{img.src}}"><img  class="process-image" alt="{{img.alt}}" src="data/{{img.src}}" /> </a>
            </td>
        </tr>
        {{/if}}
    </tbody>
</table>


<h3 class="feat-desc-title">Feature</h3>

<table class="table feature-desc" width="100%">
    <tbody>
    <tr>
        <td class="popup-tb-title">Feature Id</td>
        <td class="popup-tb-val">{{feature.id}} </td>
    </tr>
    <tr>
        <td class="popup-tb-title">Group</td>
        <td class="popup-tb-val">{{feature.groupName}} </td>
    </tr>
    <tr>
        <td class="popup-tb-title">Description</td>
        <td class="popup-tb-val">{{feature.description}}</td>
    </tr>
    </tbody>
</table>